<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProfile name="!json-log">
		<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<springProfile name="json-log">
		<appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<includeMdcKeyName>correlationId</includeMdcKeyName>
				<includeMdcKeyName>requestId</includeMdcKeyName>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="CONSOLE_JSON"/>
		</root>
	</springProfile>
</configuration>
